DOMAIN = "aniwatchtv.to"
PORT = 4000

# RATE LIMIT
WINDOWMS = 1800000        # duration to track requests (in milliseconds) for rate limiting. here, 30*60*1000 = 1800000 = 30 minutes
MAX = 70                  # maximum number of requests in this timeperiod

# CACHE
CACHE = true              # Caching does not cache any response related to anime info or source urls, it only caches the key to decrypt 
CACHE_DRIVER = "memory"   # Available options: memory
CACHE_LIFETIME = 1800000  # How long the cache lives on memory before recaching. (milliseconds)